apiVersion: v1
kind: Config
clusters:
- name: "k8s-spark"
  cluster:
    server: "https://rke.dev.k8s.adobesearch.io/k8s/clusters/c-4vvbn"
    certificate-authority-data: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM3akNDQ\
      WRhZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBREFvTVJJd0VBWURWUVFLRXdsMGFHVXQKY\
      21GdVkyZ3hFakFRQmdOVkJBTVRDV05oZEhSc1pTMWpZVEFlRncweE9UQTBNVGN5TVRBME1qQmFGd\
      zB5T1RBMApNVFF5TVRBME1qQmFNQ2d4RWpBUUJnTlZCQW9UQ1hSb1pTMXlZVzVqYURFU01CQUdBM\
      VVFQXhNSlkyRjBkR3hsCkxXTmhNSUlCSWpBTkJna3Foa2lHOXcwQkFRRUZBQU9DQVE4QU1JSUJDZ\
      0tDQVFFQTE2clFOZURjb253M05INisKT0ZXNGZId0ZiUHFyUFo5MTcvWStlRE1CUy9DbERGNUpjN\
      TFibFVaMzJFcVRMcGNpUHFtSk5DYmFVd3VSUEZqUAptb2xhMjRtZ1VSdTMwdjAvNDNVOGM5R01tS\
      EFQMjU0S2RYQUZEN3p2VW9DMTJnczZ2WTRCVlJ1NzlyM0VZL0RFCmYyRTdiMUVYTm9qRVRmeW5YT\
      2lLcDU0M2RVZllPQTRwdWZHa21QaVFZZ1V6YW8rcTd0S2d6Z2ZUcGdWZmNaczMKSjNTL1BoMXFqN\
      XNodkVsaWRGdUFsV2YvbGhSMU0zSmdqVzc3S2g4TC9RdEE4WGFUeDJkWitGMGxhUDhQMDRkZQpqW\
      XRRRFA3M05oS2tkV05ERHJHSnREQWRLZXVtY25sSFdvOWdlQkE3Z2g2REpWWTkxRDJQWXBjTk9ZS\
      nlYWERzCm9rLzVFUUlEQVFBQm95TXdJVEFPQmdOVkhROEJBZjhFQkFNQ0FxUXdEd1lEVlIwVEFRS\
      C9CQVV3QXdFQi96QU4KQmdrcWhraUc5dzBCQVFzRkFBT0NBUUVBbFVSMnAvOE93WndvdDZNOVgyQ\
      XhYU2N6TmRVb25IUVlWNWpieE1vTgpkRTNLMFhqd05RVHNScTkydmdMQkl2K28rdldUbm9Rbms4M\
      jUyVm5DelJ3NjU1VW5PZStqWEhoNVRjaHNtbmV6CjBxdFN0OHIrNnlNS2xSZ2wvWWEvRHdSWGIrQ\
      05TWHZrRmFFb2NmUk1mS3NRV3ZxU0hYdVJ2VHRRRVc0VnBoUUQKQWlJSFlZYmxXa0d1RWlHKzlNc\
      VYzdXhyaXg4cHNLMHNkQVJxUzdaQ0YyTTA4V2dqeFlsYno3Q00wNklMZ2ZIVQpMbmNjQzJTNWMrU\
      2NaMDY2VHB1cXF1Z1FFTTU3cnU5SWdNbVVtYkIveUtwQllyMmoxeGgwdU5iQ0RDbitoZWpPCmt6M\
      WlWcVFoUVhqbS9LcGJ4Zll0ZUIzMWx3eDNua3dBd201QmRnVTNsTzdmNEE9PQotLS0tLUVORCBDR\
      VJUSUZJQ0FURS0tLS0t"

users:
- name: "user-s5jwz"
  user:
    token: "kubeconfig-user-s5jwz:sbk5tt2qrn7m5wtjhf2wff7pfxrfd77jpz5j8lrmmlj9gzhxs6494w"

contexts:
- name: "k8s-spark"
  context:
    user: "user-s5jwz"
    cluster: "k8s-spark"

current-context: "k8s-spark"